
.container2  {
    margin: auto 200px ;
    
}


.about-section {
    padding: 20px 0;
}

.about-section h2 {
    text-align: center;
    color: #074173;
    font-size: 50px;
}

.about-section p {
    margin: 15px 0;
    font-size: 20px;
    text-align: justify;
    
}

.about-section h3 {
    color: #074173;
    margin-top: 20px;
    font-size: 40px;
}
.sidebar{
    background-color: #4D869C;
    width: 350px;
}
