body {
  background-image: url(./../img/FAQ-img/bacground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-item{
  background-color: #fff;
  width: 200px;
  margin: 10px 18px;
  border-radius: 5px;
  align-items: center;
  padding: 1px 20px;
  cursor:pointer;
  font-size:15px;
  font-weight: 5000;
  margin-top: 20px;
  text-decoration: none;
  color: #000000;

}
.menu-item:hover{
  background-color: #EEF7FF;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.25) 0px 54px 55px,rgba(0,0,0.12) 0px -12px 30px,
  rgba(0,0,0,0.12) 0px 4px 6px,rgba(0,0,0,0.17) 0px 12px 13px,rgba(0,0,0,0.9) 0px -3px 5px;
}
.active-menu{
  background-color: #EEF7FF;
}
.menu-icon{
  height: 20px;
  padding-right: 8px;
}
.menu-text{
  margin-left: 5px;
  font-family: 'poppins',sans-serif;

}

.heading {
  border-radius: 10px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


h2 {
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.faq {
  align-items: center;
  display: flex;
}

.faq-heading {
  width: 90%;
  margin-left: 30%;
}

.que-box {
  margin-left: 30%;
  padding: 5px;
  width: 40%;
}

.que {
  margin-left: 120px;
  width: 410px;
  justify-content: center;
  font-weight: bold;
}

.ans {
  margin-left: x;
  width: 500px;
  text-align: center;
}

.pool-rules-1 {

  position: relative;
  left: 70%;
  top: 30px;
}

.pool-rules-2 {
  position: relative;
  left: 90%;
  top: 30px;
}

.info-card {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;

}

.card1 {
  height: 300px;
  width: 250px;
  padding: 5px;
  background-color: transparent;
  box-shadow: 0 0 10px 5px black;
  border-radius: 10px;
  position: relative;
}

.card-img {
  height: 120px;
  margin-top: 0px;
  margin-left: 2%;

}

.card-heading {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.card-desc {

  position: absolute;
  bottom: 10px;
  }

.contact-details {
  text-align: center;
}
.bottom-navigation-bar{
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #074173;
  display:none;

}
.bottom-menu-icon{
  background-color: #ECF2FF;
  margin: 5px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
}
.bottom-menu-icon-hover{
  background-color: #4D869C;
}
.bottom-menu-icon-active{
  background-color: #4D869C;
}

/* Normal Devices */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .info-card {
      flex-wrap: wrap;
  }

  .card1 {
      width: 300px;
      margin-bottom: 30px;
  }

  .faq-heading {
      margin-left: -10px;
  }

  .que-box {
      margin-left: -50px;
  }

  .pool-rules-1 {
      display: none;
  }

  .pool-rules-2 {
      position: relative;
      left: 10%;
      top: 30px;
  }
}

/* Tablets Devices */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .faq-heading {
      margin-left: 55px;
  }

  .que-box {
      margin-left: 20px;
  }

  .pool-rules-1 {

      position: relative;
      left: 30%;
      top: 30px;
  }

  .pool-rules-2 {
      position: relative;
      left: 10%;
      top: 30px;
  }

}

/* Large Devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {}