@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    background-color: #ECF2FF;
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: #074173;
    width: 290px;
}
.sidebar-position{
    position: fixed;
}
.content{
    background-color: #ECF2FF;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.heading{
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 45px;
    color: #074173;
}
.sub-heading{
    letter-spacing: 1px;
    font-style: italic;
    color: #074173;
}

/* sidebar-items */
.menu-item{
    background-color: #fff;
    width: 200px;
    margin: 10px 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
}
.menu-item:hover{
    background-color: #074173;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.active-menu{
    background-color: #B4D4FF;
}
.menu-icon{
    height: 20px;
    padding-right: 8px;
}
.menu-text{
    margin-left: 5px;
}

/* main-content */
.head-items{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: space-around;
}
.head-video{
    width: 50%;
    box-shadow: rgba(0.30, 0.30, 0.30, 0.30) 5px 5px 20px;
    border-radius: 30px 0px;
}
.head-img-1{
    height: 310px;
    box-shadow: rgba(0.30, 0.30, 0.30, 0.30) 5px 5px 20px;
    border-radius: 0px 30px;
    width: 20%;
}
.head-img-2{
    height: 310px;
    box-shadow: rgba(0.30, 0.30, 0.30, 0.30) 5px 5px 20px;
    border-radius: 0px 30px;
    width: 20%;
}
.content-text{
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}

/*welcome message*/
.welcome-message {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .message-cardBox {
    width: 800px;
    height: 700px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }
  .message-card {
    position: absolute;
    width: 97%;
    height: 97%;
    background: #074173;
    border-radius: 15px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(37, 37, 37, 0.4) 0px 30px 60px -12px inset,
    rgba(37, 37, 37, 0.4) 0px 18px 36px -18px inset;
  }
  .message-card .message-content h3 {
    font-size: 2rem;
    padding-bottom: 30px;
  }
  .message-card .message-content p {
    font-size: 1rem;
    line-height: 25px;
    font-style: italic;
  }
  
  .message-cardBox::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 150%;
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    animation: glowing01 5s linear infinite;
    transform-origin: center;
    animation: glowing 5s linear infinite;
  }
  
  @keyframes glowing {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

   /* party images */
   .party-images{
    margin: 20px 100px;
  }
  .img-heading{
    margin-bottom: 30px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(25, 181, 243);
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 35px;
    color: #074173;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }