@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.container{
    background-color: #ECF2FF;
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: #074173;
    width: 290px;
}
.sidebar-position{
    position: fixed;
}
.content{
    background-color: #ECF2FF;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.sub-heading{
    letter-spacing: 1px;
    font-style: italic;
    color: #074173;
}

/* sidebar-items */
.menu-item{
    background-color: #fff;
    width: 200px;
    margin: 10px 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
}
.menu-item:hover{
    background-color: #074173;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.active-menu{
    background-color: #B4D4FF;
}
.menu-icon{
    height: 20px;
    padding-right: 8px;
}
.menu-text{
    margin-left: 5px;
}
.header-text{
    margin-top: -300px;
    color: #ffffff;
    margin-left: 500px;
    font-weight: 500;
    font-size: 30px;
}